@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #555;
}

.iconc {
  font-size: 100px;
  margin-bottom: 20px;
  color: #fab00f
}


.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  text-align: center;
}

.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem;
}

.shopnow {
  background-color: #95D033;
}

.number-input.number-input button {
  width: 2.6rem;
  height: .7rem;
}

.number-input.number-input button.minus {
  padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
}

.number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color:transparent) {

    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
      margin-top: -.3rem;
    }
  }
}

.shopping-cart .def-number-input.number-input {
  border: none;
}

.shopping-cart .def-number-input.number-input input[type=number] {
  max-width: 2rem;
  border: none;
}

.shopping-cart .def-number-input.number-input input[type=number].black-text,
.shopping-cart .def-number-input.number-input input.btn.btn-link[type=number],
.shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:hover,
.shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:focus {
  color: #212529 !important;
}

.shopping-cart .def-number-input.number-input button {
  width: 1rem;
}

.shopping-cart .def-number-input.number-input button:before,
.shopping-cart .def-number-input.number-input button:after {
  width: .5rem;
}

.shopping-cart .def-number-input.number-input button.minus:before,
.shopping-cart .def-number-input.number-input button.minus:after {
  background-color: #9e9e9e;
}

.shopping-cart .def-number-input.number-input button.plus:before,
.shopping-cart .def-number-input.number-input button.plus:after {
  background-color: #588f00
}

.custom-btn {
  border: none !important;
  background-color: #fab00f !important;
  color: #000000;
  font-weight: 400;

}

.custom-btn:hover {
  background-color: #f09d00 !important;
  cursor: pointer;
}








.confirmation-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 50px;
}

.confirmation-page h2 {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.confirmation-page p {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.confirmation-page form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.confirmation-page label {
  font-size: 18px;
  margin-bottom: 10px;
  display: none;

}

.confirmation-page input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid rgb(74, 74, 74);
  margin-right: 10px;
  width: 200px;
  max-width: 100%;
}

.confirmation-page button[type="submit"] {
  background-color: #fab00f;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

}

.confirmation-page button[type="submit"]:hover {
  background-color: #ffbf36
}

.confirmation-page p {
  width: 400px;
  ;
  font-size: 20px;
  font-weight: 600;
}